.info-container {
  z-index: 4;
  position: relative;
  height: 45vw;
  width: 100%;
  background: #3c3742;
  display: flex;
  justify-content: center;
  box-shadow: 0px -12px 5px rgba(0, 0, 0, 0.8);
}

.info-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 35px;
  margin-right: 35px;
}

.info-content {
  font-size: max(2.5vw, 12px);
  line-height: 2;
}