.footer-area {
  position: relative;
  z-index: 4;
  background-color: #001441;
}

.copywrite-area {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copywrite-text {
  font-size: 15px;
  color: #fff;
}
