.banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}

.banner-name {
  font-family: 'Bebas Neue', cursive;
  /* font-weight: 600; */
  font-size: 12vw;
  color: white;
  margin-top: 160px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}